body {
  background-color: #f0f8ff;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.gallery-container {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.gallery-title {
  font-size: 3rem;
  color: #ff4500;
  margin-bottom: 1rem;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.photo-item {
  background-color: #fff8dc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  cursor: pointer;
  overflow: hidden; /* Ensures the image stays within the rounded corners */
  flex: 1 1 300px; /* Allows the item to flex and maintain a minimum width */
  max-width: 300px; /* Ensures the item doesn't grow larger than 300px */
}

.photo-item:hover {
  transform: scale(1.05);
}

.photo {
  width: 100%;
  height: 300px; /* Fixed height to ensure uniformity */
  object-fit: cover; /* Ensures the image covers the entire area */
}

.photo-caption {
  padding: 0.5rem;
  color: #ff4500;
  font-size: 1.2rem;
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-photo-container {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullscreen-photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.download-button,
.close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.download-button {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .gallery-title {
    font-size: 2rem;
  }

  .download-button,
  .close-button {
    font-size: 0.8rem;
  }

  .photo-grid {
    flex-direction: column;
    align-items: center;
  }

  .photo-item {
    width: 100%;
    max-width: none;
  }
}
  